.logintitle {
  margin-top: 200px;
  margin-bottom: 15px;
  margin-left: 15px;
}
.banner {
  border: solid 1px rgb(202, 202, 202);
  border-radius: 20px;
  width: 185px;
  height: 185px;
  text-align: center;
  padding-top: 15px;
}
.banner:hover{
 background: rgb(27, 151, 145);
}

.loginimg {
  margin-top: 80px
}
