.logintitle {
  margin-top: 300px;
  margin-bottom: 15px;
  margin-left: 15px;
}
.banner {
  border: solid 1px rgb(202, 202, 202);
  border-radius: 20px;
  width: 100%;
  height: 220px;
  text-align: center;
  font-size: 21px;
}
.banner:hover{
 background: rgb(18, 60, 114);
 color:rgb(202, 202, 202);
 font-weight: bold;
}

.loginimg {
  margin-top: 20px
}
